/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.thumbnail {
  background-color: white;
  height: 450px;
  border: solid 1px #CCC;
  box-shadow: 2px 2px 2px #CCC;
}

.price {
  font-weight: bold;
  font-size: 1.7em;
}

.thumbnail a img {
  height: 150px;
}
.navbar-form input[type=text] {
  width: 15em;
}

.rating {
  color: red;
}

.avg_rating {
  color: blue;
}

/* attribution for this code
  https://codepen.io/anon/pen/gRyXav
*/
.half {
  position: relative;
}

.half:before {
  content: "\e006"; /* put here default icon code*/
  width: 47%;
  display: block;
  position: absolute;
  overflow: hidden;
}

.half:after {
  content: "\e007"; /* put here icon-empty code*/
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(zink-bg.jpg) no-repeat center center;
    background-size: cover;
}

.ct-label {
  font-size: 12px;
  color: black;
}

/* Use this selector to override bar styles on bar charts. Bars are also strokes so you have maximum freedom in styling them. */
.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: #5cb85c;
  /* The width of your bars */
  stroke-width: 40px;
}
