<div class="avg_rating">
<% avg = avg_rating(@reviews) %>
<%5.times do | i |
    if avg >= (i + 1) %>
      <i class="glyphicon glyphicon-star"></i>
  <%elsif (avg > i && avg > (i.to_f + 0.75)) %>
      <i class="glyphicon glyphicon-star"></i>
  <%elsif (avg > i && avg > (i.to_f + 0.25)) %>
      <i class="glyphicon glyphicon-star half"></i>
  <%else %>
      <i class="glyphicon glyphicon-star-empty"></i>
  <%end
  end%>
</div>
